
TestOpenCV/.vs/TestOpenCV/v15/.suo
TestOpenCV/.vs/TestOpenCV/v15/Browse.VC.db
TestOpenCV/.vs/TestOpenCV/v15/Browse.VC.opendb
TestOpenCV/.vs/TestOpenCV/v15/ipch/3c3402fa01c41d4e.ipch
TestOpenCV/ReadMe.txt
TestOpenCV/TestOpenCV.sdf
TestOpenCV/opencv-4.3.0/lib/opencv_world430d.lib
TestOpenCV/opencv-4.3.0/lib/opencv_world430.lib
TestOpenCV/opencv-4.3.0/include/opencv2/world.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/videoio/videoio_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/videoio/videoio.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/videoio/registry.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/videoio/legacy/constants_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/videoio/cap_ios.h
TestOpenCV/opencv-4.3.0/include/opencv2/videoio.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/video/video.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/video/tracking.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/video/legacy/constants_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/video/background_segm.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/video.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/warpers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/warpers_inl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/warpers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/util_inl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/util.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/timelapsers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/seam_finders.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/motion_estimators.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/matchers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/exposure_compensate.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/camera.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/blenders.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching/detail/autocalib.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/stitching.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/photo/photo.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/photo/legacy/constants_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/photo/cuda.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/photo.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/opencv_modules.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/opencv.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/objdetect/objdetect.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/objdetect/detection_based_tracker.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/objdetect.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/ml/ml.inl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/ml/ml.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/ml.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/imgproc/types_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/imgproc/imgproc_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/imgproc/imgproc.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/imgproc/hal/interface.h
TestOpenCV/opencv-4.3.0/include/opencv2/imgproc/hal/hal.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/imgproc/detail/gcgraph.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/imgproc.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/imgcodecs/legacy/constants_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/imgcodecs/ios.h
TestOpenCV/opencv-4.3.0/include/opencv2/imgcodecs/imgcodecs_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/imgcodecs/imgcodecs.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/imgcodecs.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/highgui/highgui_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/highgui/highgui.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/highgui.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/util/variant.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/util/util.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/util/throw.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/util/optional.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/util/compiler_hints.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/util/any.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/streaming/source.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/streaming/cap.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/render/render.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/render.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/plaidml/plaidml.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/plaidml/gplaidmlkernel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/plaidml/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/types.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/scalar.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/saturate.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/mat.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/exports.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/cvdefs.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/convert.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/own/assert.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/operators.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/opencv_includes.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/ocl/imgproc.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/ocl/goclkernel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/ocl/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/infer/ie.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/infer.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/imgproc.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gtyped.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gtype_traits.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gtransform.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gstreaming.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gscalar.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gpu/imgproc.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gpu/ggpukernel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gpu/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gproto.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gopaque.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gmetaarg.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gmat.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gkernel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gcomputation_async.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gcomputation.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gcompoundkernel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gcompiled_async.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gcompiled.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gcommon.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gcall.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/gasync_context.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/garray.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/garg.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/fluid/imgproc.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/fluid/gfluidkernel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/fluid/gfluidbuffer.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/fluid/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/cpu/imgproc.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/cpu/gcpukernel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/cpu/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/gapi.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/flann/timer.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/simplex_downhill.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/saving.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/sampling.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/result_set.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/random.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/params.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/object_factory.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/nn_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/miniflann.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/flann/matrix.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/lsh_table.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/lsh_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/logger.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/linear_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/kmeans_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/kdtree_single_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/kdtree_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/index_testing.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/hierarchical_clustering_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/heap.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/hdf5.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/ground_truth.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/general.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/flann_base.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/flann/flann.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/flann/dynamic_bitset.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/dummy.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/dist.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/defines.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/config.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/composite_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/autotuned_index.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/any.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/allocator.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann/all_indices.h
TestOpenCV/opencv-4.3.0/include/opencv2/flann.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/features2d/hal/interface.h
TestOpenCV/opencv-4.3.0/include/opencv2/features2d/features2d.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/features2d.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/version.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/utils/inference_engine.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/shape_utils.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/layer.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/layer.details.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/dnn.inl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/dnn.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/dict.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn/all_layers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/dnn.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/cvconfig.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/vsx_utils.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/version.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/va_intel.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/trace.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/tls.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/logtag.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/logger.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/logger.defines.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/instrumentation.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/filesystem.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/allocator_stats.impl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utils/allocator_stats.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/utility.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/types_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/types.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/traits.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/sse_utils.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/softfloat.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/simd_intrinsics.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/saturate.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/persistence.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/ovx.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/optim.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/operations.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opengl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_svm_hsa_extension.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_svm_definitions.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_svm_20.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_gl_wrappers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_gl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_core_wrappers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_clamdfft.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/opencl_clamdblas.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/autogenerated/opencl_gl_wrappers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/autogenerated/opencl_gl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/autogenerated/opencl_core_wrappers.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/autogenerated/opencl_core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/autogenerated/opencl_clamdfft.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/runtime/autogenerated/opencl_clamdblas.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/opencl_svm.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/opencl_info.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/opencl/ocl_defs.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/ocl_genbase.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/ocl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/neon_utils.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/matx.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/mat.inl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/mat.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/simd_utils.impl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/msa_macros.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_wasm.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_vsx.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_sse_em.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_sse.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_neon.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_msa.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_forward.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_cpp.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_avx512.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin_avx.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/intrin.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/interface.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/hal/hal.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/fast_math.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/eigen.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/directx.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/detail/exception_ptr.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/detail/async_promise.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cvstd_wrapper.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cvstd.inl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cvstd.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cvdef.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/cv_cpu_helper.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/cv_cpu_dispatch.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda_types.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda_stream_accessor.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/warp_shuffle.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/warp_reduce.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/warp.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/vec_traits.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/vec_math.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/vec_distance.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/utility.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/type_traits.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/transform.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/simd_functions.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/scan.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/saturate_cast.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/reduce.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/limits.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/functional.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/funcattrib.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/filters.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/emulation.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/dynamic_smem.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/detail/vec_distance_detail.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/detail/type_traits_detail.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/detail/transform_detail.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/detail/reduce_key_val.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/detail/reduce.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/detail/color_detail.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/datamov_utils.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/common.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/color.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/border_interpolate.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda/block.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda.inl.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/cuda.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/core_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/core/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/check.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/bufferpool.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/bindings_utils.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/base.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/async.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core/affine.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/core.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/calib3d/calib3d_c.h
TestOpenCV/opencv-4.3.0/include/opencv2/calib3d/calib3d.hpp
TestOpenCV/opencv-4.3.0/include/opencv2/calib3d.hpp
TestOpenCV/x64/Debug/opencv_world430d.dll
TestOpenCV/x64/Release/opencv_world430.dll
TestOpenCV/.vs/TestOpenCV/v15/ipch/bf970b0a38b037fe.ipch
TestOpenCV/TestOpenCV.aps
TestOpenCV/TestOpenCV.vcxproj
TestOpenCV/TestOpenCV.vcxproj.user
TestOpenCV/TestOpenCV.aps
TestOpenCV/TestOpenCV.vcxproj
TestOpenCV/TestOpenCV.vcxproj.user
TestOpenCV/TestOpenCV.aps
TestOpenCV/x64/Debug/ImageViewer.obj
TestOpenCV/x64/Debug/stdafx.obj
TestOpenCV/x64/Debug/TestOpenCV.Build.CppClean.log
TestOpenCV/x64/Debug/TestOpenCV.exe
TestOpenCV/x64/Debug/TestOpenCV.ilk
TestOpenCV/x64/Debug/TestOpenCV.log
TestOpenCV/x64/Debug/TestOpenCV.obj
TestOpenCV/x64/Debug/TestOpenCV.pch
TestOpenCV/x64/Debug/TestOpenCV.pdb
TestOpenCV/x64/Debug/TestOpenCV.res
TestOpenCV/x64/Debug/TestOpenCV.tlog/CL.command.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/CL.read.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/CL.write.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/link.command.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/link.read.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/link.write.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/rc.command.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/rc.read.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/rc.write.1.tlog
TestOpenCV/x64/Debug/TestOpenCV.tlog/TestOpenCV.lastbuildstate
TestOpenCV/x64/Debug/TestOpenCVDlg.obj
TestOpenCV/x64/Debug/vc141.idb
TestOpenCV/x64/Debug/vc141.pdb
TestOpenCV/x64/Release/ImageViewer.obj
TestOpenCV/x64/Release/stdafx.obj
TestOpenCV/x64/Release/TestOpenCV.exe
TestOpenCV/x64/Release/TestOpenCV.iobj
TestOpenCV/x64/Release/TestOpenCV.ipdb
TestOpenCV/x64/Release/TestOpenCV.log
TestOpenCV/x64/Release/TestOpenCV.obj
TestOpenCV/x64/Release/TestOpenCV.pch
TestOpenCV/x64/Release/TestOpenCV.pdb
TestOpenCV/x64/Release/TestOpenCV.res
TestOpenCV/x64/Release/TestOpenCV.tlog/CL.command.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/CL.read.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/CL.write.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/link.command.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/link.read.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/link.write.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/rc.command.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/rc.read.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/rc.write.1.tlog
TestOpenCV/x64/Release/TestOpenCV.tlog/TestOpenCV.lastbuildstate
TestOpenCV/x64/Release/TestOpenCV.tlog/TestOpenCV.write.1u.tlog
TestOpenCV/x64/Release/TestOpenCVDlg.obj
TestOpenCV/x64/Release/vc141.pdb
TestOpenCV/TestOpenCV.aps
